.month{
position: absolute;
left: 20%;
top: 1%;
font-size: 75px;
}

.grid-numbers{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
background-color: #bdf9fc;
padding: 4px;
position: absolute;
bottom: 10px;
left: 40px;
right: 40px;
top: 210px;
}

.grid-item{
background-color: rgba(255, 255, 255, 0.8);
border: 1px solid rgba(0, 0, 0, 0.8);
padding: 20px;
font-size: 30px;
text-align: left;
}

.grid-day{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
background-color: #bdf9fc;
padding: 5px;
position: absolute;
max-width: 100%;
left: 40px;
right: 40px;
top: 130px;
}
